{% extends "./base.html" %}

{% block content%}
    
    
            <!--<div class="first-card">
                <h1 class="first-title">Delhaize API</h1>
                <p>This challenge is to manage to detect any date on any
                    product using different model of deeplearning;
                </p>
            </div>-->
            <div style="width:30%;height:500px">
            <div class="card text-bg-light mb-3 my_index" style="width:100%;">
                <div class="card-header">
                    <h1 class="first-title">
                        Delhaize API
                    </h1>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Project</h5>
                    <p class="card-text">
                        This challenge is to manage to detect any date on any
                        product using different model with the help of deeplearning
                    </p>
                    <p class="card-text">
                        <a href="/camera" class="btn btn-danger" id="my_button">Test the detection</a>
                    </p>
                </div>
            </div>
            </div>
        

{% endblock %}
