<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../static/Images/delhaize-blason.jpeg" width="65" height="65" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>   
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_api/">API</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/camera/">Camera</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/picture/">Picture</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Options</a>
        </li>
        </ul>
       
        <img src="../static/Images/becode-logo.png" width="70" height="60" alt="">
      </div>
    </div>
  </nav>

